In [0]:
from pyspark.sql.functions import *

In [0]:
data = [("1","Ram","5000","it","male"),("2","Shyam","8000","hr","female"),("3","Jadu","6000","it","male"), ("4","Madu","10000","it","female")]
schemas = ["id", "name"  ,"sal"  , "dept"  ,"gender" ]

df = spark.createDataFrame(data,schema=schemas)
df.display()

id,name,sal,dept,gender
1,Ram,5000,it,male
2,Shyam,8000,hr,female
3,Jadu,6000,it,male
4,Madu,10000,it,female

In [0]:
### Pivot 
df.groupBy("dept").pivot("gender").count().show()

+----+------+----+
|dept|female|male|
+----+------+----+
|  hr|     1|null|
|  it|     1|   2|
+----+------+----+

In [0]:
for i in df.collect():
    print("Id "+i[0])
    print("Name "+i[1])

Id 1
Name Ram
Id 2
Name Shyam
Id 3
Name Jadu
Id 4
Name Madu

In [0]:
type(df.collect())

Out[26]: list

Create RDD

In [0]:
data = [("1","Ram","5000","it","male"),("2","Shyam","8000","hr","female"),("3","Jadu","6000","it","male"), ("4","Madu","10000","it","female")]

rdd1 = spark.sparkContext.parallelize(data)
type(rdd1)

df1=rdd1.toDF(["id", "name"  ,"sal"  , "dept"  ,"gender" ])
df1.show()

+---+-----+-----+----+------+
| id| name|  sal|dept|gender|
+---+-----+-----+----+------+
|  1|  Ram| 5000|  it|  male|
|  2|Shyam| 8000|  hr|female|
|  3| Jadu| 6000|  it|  male|
|  4| Madu|10000|  it|female|
+---+-----+-----+----+------+

creating rdd from a python collection

In [0]:
rdd2 = spark.sparkContext.parallelize(df.collect())
rdd3 = rdd2.map(lambda x : x[1])
rdd3.collect()

Out[43]: ['Ram', 'Shyam', 'Jadu', 'Madu']

In [0]:
### Map function

data = [("ram","saran"),("shyam","gupta")]

rdd1 = spark.sparkContext.parallelize(data)

rdd2 = rdd1.map(lambda x: x+(x[0],))
print(rdd2.collect())

[('ram', 'saran', 'ram'), ('shyam', 'gupta', 'shyam')]

In [0]:
###  Map function

data = [("ram saran"),("shyam gupta")]

rdd1 = spark.sparkContext.parallelize(data)

rdd2 = rdd1.map(lambda x: x.split(' '))
print(rdd2.collect())

[['ram', 'saran'], ['shyam', 'gupta']]

In [0]:
### Flat Map function

data = [("ram saran"),("shyam gupta")]

rdd1 = spark.sparkContext.parallelize(data)

rdd2 = rdd1.flatMap(lambda x: x.split(' '))
print(rdd2.collect())

['ram', 'saran', 'shyam', 'gupta']

In [0]:
data = [("ram",[10,20]),("shyam",[60,70]),("jadu",[20,50]),("madhu",[100,40])]
schemas = ["name","marks"]

df = spark.createDataFrame(data,schemas)
df.show()
df.printSchema()

+-----+---------+
| name|    marks|
+-----+---------+
|  ram| [10, 20]|
|shyam| [60, 70]|
| jadu| [20, 50]|
|madhu|[100, 40]|
+-----+---------+

root
 |-- name: string (nullable = true)
 |-- marks: array (nullable = true)
 |    |-- element: long (containsNull = true)

In [0]:
data = [("ram",{"hair":"black","eye":"black"}),("shyam",{"hair":"black","eye":"black"}),("jadu",{"hair":"black","eye":"black"}),("madhu",{"hair":"black","eye":"black"})]

schemas = ["name","properties"]

df = spark.createDataFrame(data,schemas)
df.show()
df.printSchema()

+-----+--------------------+
| name|          properties|
+-----+--------------------+
|  ram|{eye -> black, ha...|
|shyam|{eye -> black, ha...|
| jadu|{eye -> black, ha...|
|madhu|{eye -> black, ha...|
+-----+--------------------+

root
 |-- name: string (nullable = true)
 |-- properties: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

In [0]:
#read the jason file 
rest_json = spark.read.format("json").option("multiLine",True).load("/FileStore/tables/file1.json")

In [0]:
rest_json.select("*",explode("restaurants").alias("new_resturant"),"new_resturant.restaurant.R.res_id") \
.select("*",explode("new_resturant.restaurant.establishment_types").alias("new_establishment")).drop("restaurants").printSchema()

root
 |-- code: long (nullable = true)
 |-- message: string (nullable = true)
 |-- results_found: long (nullable = true)
 |-- results_shown: long (nullable = true)
 |-- results_start: string (nullable = true)
 |-- status: string (nullable = true)
 |-- new_resturant: struct (nullable = true)
 |    |-- restaurant: struct (nullable = true)
 |    |    |-- R: struct (nullable = true)
 |    |    |    |-- res_id: long (nullable = true)
 |    |    |-- apikey: string (nullable = true)
 |    |    |-- average_cost_for_two: long (nullable = true)
 |    |    |-- book_url: string (nullable = true)
 |    |    |-- cuisines: string (nullable = true)
 |    |    |-- currency: string (nullable = true)
 |    |    |-- deeplink: string (nullable = true)
 |    |    |-- establishment_types: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- events_url: string (nullable = true)
 |    |    |-- featured_image: string (nullable = true)
 |    |    |-- has_online_delivery: long (nullable = true)
 |    |    |-- has_table_booking: long (nullable = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- is_delivering_now: long (nullable = true)
 |    |    |-- location: struct (nullable = true)
 |    |    |    |-- address: string (nullable = true)
 |    |    |    |-- city: string (nullable = true)
 |    |    |    |-- city_id: long (nullable = true)
 |    |    |    |-- country_id: long (nullable = true)
 |    |    |    |-- latitude: string (nullable = true)
 |    |    |    |-- locality: string (nullable = true)
 |    |    |    |-- locality_verbose: string (nullable = true)
 |    |    |    |-- longitude: string (nullable = true)
 |    |    |    |-- zipcode: string (nullable = true)
 |    |    |-- menu_url: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- offers: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |-- offer: struct (nullable = true)
 |    |    |    |    |    |-- added_by: long (nullable = true)
 |    |    |    |    |    |-- applicable_on: long (nullable = true)
 |    |    |    |    |    |-- date_added: string (nullable = true)
 |    |    |    |    |    |-- disclaimer: string (nullable = true)
 |    |    |    |    |    |-- end_date: string (nullable = true)
 |    |    |    |    |    |-- friendly_end_date: string (nullable = true)
 |    |    |    |    |    |-- friendly_start_date: string (nullable = true)
 |    |    |    |    |    |-- impressions: long (nullable = true)
 |    |    |    |    |    |-- is_active: long (nullable = true)
 |    |    |    |    |    |-- is_editable: long (nullable = true)
 |    |    |    |    |    |-- is_valid: long (nullable = true)
 |    |    |    |    |    |-- offer_id: long (nullable = true)
 |    |    |    |    |    |-- offer_text: string (nullable = true)
 |    |    |    |    |    |-- offer_type: string (nullable = true)
 |    |    |    |    |    |-- restaurant_list: array (nullable = true)
 |    |    |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |    |    |-- restaurants: array (nullable = true)
 |    |    |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |    |    |-- share_url: string (nullable = true)
 |    |    |    |    |    |-- start_date: string (nullable = true)
 |    |    |    |    |    |-- status: long (nullable = true)
 |    |    |    |    |    |-- type: string (nullable = true)
 |    |    |    |    |    |-- type_code: long (nullable = true)
 |    |    |    |    |    |-- voucher_id: long (nullable = true)
 |    |    |-- order_deeplink: string (nullable = true)
 |    |    |-- order_url: string (nullable = true)
 |    |    |-- photos_url: string (nullable = true)
 |    |    |-- price_range: long (nullable = true)
 |    |    |-- switch_to_order_menu: long (nullable = true)
 |    |    |-- thumb: string (nullable = true)
 |    |    |-- url: string (nullable = true)
 |    |    |-- user_rating: struct (nullable = true)
 |    |    |    |-- aggregate_rating: string (nullable = true)
 |    |    |    |-- rating_color: string (nullable = true)
 |    |    |    |-- rating_text: string (nullable = true)
 |    |    |    |-- votes: string (nullable = true)
 |    |    |-- zomato_events: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |-- event: struct (nullable = true)
 |    |    |    |    |    |-- book_link: string (nullable = true)
 |    |    |    |    |    |-- date_added: string (nullable = true)
 |    |    |    |    |    |-- description: string (nullable = true)
 |    |    |    |    |    |-- disclaimer: string (nullable = true)
 |    |    |    |    |    |-- display_date: string (nullable = true)
 |    |    |    |    |    |-- display_time: string (nullable = true)
 |    |    |    |    |    |-- end_date: string (nullable = true)
 |    |    |    |    |    |-- end_time: string (nullable = true)
 |    |    |    |    |    |-- event_category: long (nullable = true)
 |    |    |    |    |    |-- event_category_name: string (nullable = true)
 |    |    |    |    |    |-- event_id: long (nullable = true)
 |    |    |    |    |    |-- friendly_end_date: string (nullable = true)
 |    |    |    |    |    |-- friendly_start_date: string (nullable = true)
 |    |    |    |    |    |-- is_active: long (nullable = true)
 |    |    |    |    |    |-- is_end_time_set: long (nullable = true)
 |    |    |    |    |    |-- is_valid: long (nullable = true)
 |    |    |    |    |    |-- photos: array (nullable = true)
 |    |    |    |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |    |    |    |-- photo: struct (nullable = true)
 |    |    |    |    |    |    |    |    |-- md5sum: string (nullable = true)
 |    |    |    |    |    |    |    |    |-- order: long (nullable = true)
 |    |    |    |    |    |    |    |    |-- photo_id: long (nullable = true)
 |    |    |    |    |    |    |    |    |-- thumb_url: string (nullable = true)
 |    |    |    |    |    |    |    |    |-- type: string (nullable = true)
 |    |    |    |    |    |    |    |    |-- url: string (nullable = true)
 |    |    |    |    |    |    |    |    |-- uuid: long (nullable = true)
 |    |    |    |    |    |-- restaurants: array (nullable = true)
 |    |    |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |    |    |-- share_url: string (nullable = true)
 |    |    |    |    |    |-- start_date: string (nullable = true)
 |    |    |    |    |    |-- start_time: string (nullable = true)
 |    |    |    |    |    |-- title: string (nullable = true)
 |-- res_id: long (nullable = true)
 |-- new_establishment: string (nullable = true)

In [0]:
help(spark.read.json)

Help on method json in module pyspark.sql.readwriter:

json(path: Union[str, List[str], pyspark.rdd.RDD[str]], schema: Union[pyspark.sql.types.StructType, str, NoneType] = None, primitivesAsString: Union[bool, str, NoneType] = None, prefersDecimal: Union[bool, str, NoneType] = None, allowComments: Union[bool, str, NoneType] = None, allowUnquotedFieldNames: Union[bool, str, NoneType] = None, allowSingleQuotes: Union[bool, str, NoneType] = None, allowNumericLeadingZero: Union[bool, str, NoneType] = None, allowBackslashEscapingAnyCharacter: Union[bool, str, NoneType] = None, mode: Optional[str] = None, columnNameOfCorruptRecord: Optional[str] = None, dateFormat: Optional[str] = None, timestampFormat: Optional[str] = None, multiLine: Union[bool, str, NoneType] = None, allowUnquotedControlChars: Union[bool, str, NoneType] = None, lineSep: Optional[str] = None, samplingRatio: Union[str, float, NoneType] = None, dropFieldIfAllNull: Union[bool, str, NoneType] = None, encoding: Optional[str] = None, locale: Optional[str] = None, pathGlobFilter: Union[bool, str, NoneType] = None, recursiveFileLookup: Union[bool, str, NoneType] = None, modifiedBefore: Union[bool, str, NoneType] = None, modifiedAfter: Union[bool, str, NoneType] = None, allowNonNumericNumbers: Union[bool, str, NoneType] = None) -> 'DataFrame' method of pyspark.sql.readwriter.DataFrameReader instance
    Loads JSON files and returns the results as a :class:`DataFrame`.

    `JSON Lines <http://jsonlines.org/>`_ (newline-delimited JSON) is supported by default.
    For JSON (one record per file), set the ``multiLine`` parameter to ``true``.

    If the ``schema`` parameter is not specified, this function goes
    through the input once to determine the input schema.

    .. versionadded:: 1.4.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Parameters
    ----------
    path : str, list or :class:`RDD`
        string represents path to the JSON dataset, or a list of paths,
        or RDD of Strings storing JSON objects.
    schema : :class:`pyspark.sql.types.StructType` or str, optional
        an optional :class:`pyspark.sql.types.StructType` for the input schema or
        a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).

    Other Parameters
    ----------------
    Extra options
        For the extra options, refer to
        `Data Source Option <https://spark.apache.org/docs/latest/sql-data-sources-json.html#data-source-option>`_
        for the version you use.

        .. # noqa

    Examples
    --------
    Write a DataFrame into a JSON file and read it back.

    >>> import tempfile
    >>> with tempfile.TemporaryDirectory() as d:
    ...     # Write a DataFrame into a JSON file
    ...     spark.createDataFrame(
    ...         [{"age": 100, "name": "Hyukjin Kwon"}]
    ...     ).write.mode("overwrite").format("json").save(d)
    ...
    ...     # Read the JSON file as a DataFrame.
    ...     spark.read.json(d).show()
    +---+------------+
    |age|        name|
    +---+------------+
    |100|Hyukjin Kwon|
    +---+------------+